<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>VideoPlayer</title>
</head>
<body>
    <div id="app">
        <video :src="videoUrl" controls autoplay></video>
        <ul>
            <li v-for="file in files" :key="file.magnet">
                {{ file.fileName }}
                <button @click="play(file)">Play!</button>
            </li>
        </ul>
    </div>
</body>
<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                activeVideo: {},
                files: [
                    {
                        magnet: '1A3B8FEFECFAFD3596E3C874A7C9E77A77ECDB1B',
                        fileName: 'Bullet.Train.HDRip.Serbin.mkv'
                    },
                    // {
                    //     magnet: '',
                    //     fileName: ''
                    // },
                ],
                message: 'Hello Vue!'
            }
        },
        computed: {
          videoUrl: ({ activeVideo }) => activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : ''
        },
        methods: {
            async play(file) {
                console.log(file)
                const response = await axios.get(`/stream/add/${file.magnet}`)
                this.activeVideo = file
            }
        }
    }).mount('#app')
</script>
</html>